In [3]:
import requests
import pandas as pd
import pprint

In [4]:
def get_stock_history(date, stock_no, retry = 5):   #從www.twse.com.tw讀取資料
    quotes = []
    url = 'http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=%s&stockNo=%s' % ( date, stock_no)
    r = requests.get(url)
    data = r.json()
    print(data)
    return data
    #return transform(data['data'])  #進行資料格式轉換

In [5]:
a = get_stock_history('20180101', '2330')
pprint.pprint(a)

{'stat': 'OK', 'date': '20180101', 'title': '107年01月 2330 台積電           各日成交資訊', 'fields': ['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數'], 'data': [['107/01/02', '18,055,269', '4,188,555,408', '231.50', '232.50', '231.00', '232.50', '+3.00', '9,954'], ['107/01/03', '31,706,091', '7,504,382,512', '236.00', '238.00', '235.50', '237.00', '+4.50', '13,633'], ['107/01/04', '29,179,613', '6,963,192,636', '240.00', '240.00', '236.50', '239.50', '+2.50', '10,953'], ['107/01/05', '23,721,255', '5,681,934,695', '240.00', '240.00', '238.00', '240.00', '+0.50', '8,659'], ['107/01/08', '21,846,692', '5,281,823,362', '242.00', '242.50', '240.50', '242.00', '+2.00', '10,251'], ['107/01/09', '19,043,123', '4,588,314,012', '242.00', '242.00', '239.50', '242.00', ' 0.00', '7,124'], ['107/01/10', '25,716,220', '6,118,683,273', '241.50', '242.00', '236.00', '236.50', '-5.50', '10,534'], ['107/01/11', '32,070,338', '7,500,674,455', '235.00', '236.00', '232.50', '235.00', '-1.50', '9,199'], ['107/01/12', '23,141,291', '5,463,302,207', '234.50', '238.00', '233.50', '237.00', '+2.00', '7,905'], ['107/01/15', '28,576,533', '6,832,851,887', '240.00', '240.00', '238.00', '240.00', '+3.00', '9,756'], ['107/01/16', '23,407,632', '5,609,009,540', '240.00', '240.50', '238.00', '240.50', '+0.50', '8,156'], ['107/01/17', '38,118,119', '9,207,582,787', '240.50', '243.00', '239.00', '242.00', '+1.50', '12,593'], ['107/01/18', '50,119,952', '12,406,562,364', '245.00', '250.00', '245.00', '248.50', '+6.50', '19,482'], ['107/01/19', '55,061,292', '13,975,174,348', '253.50', '255.50', '251.50', '255.50', '+7.00', '18,801'], ['107/01/22', '45,907,509', '11,934,882,643', '257.50', '262.00', '257.00', '261.50', '+6.00', '13,558'], ['107/01/23', '34,606,444', '9,155,080,569', '262.50', '266.00', '262.50', '266.00', '+4.50', '13,993'], ['107/01/24', '42,600,813', '11,022,372,004', '263.00', '263.00', '256.50', '258.00', '-8.00', '17,287'], ['107/01/25', '46,214,756', '11,981,089,514', '258.00', '264.00', '256.50', '258.00', ' 0.00', '15,826'], ['107/01/26', '43,514,523', '11,101,977,348', '256.50', '257.50', '253.50', '255.00', '-3.00', '12,821'], ['107/01/29', '31,306,234', '8,067,780,117', '259.00', '261.50', '255.00', '258.50', '+3.50', '12,211'], ['107/01/30', '37,410,591', '9,523,980,994', '256.00', '257.50', '252.50', '253.00', '-5.50', '12,987'], ['107/01/31', '45,807,808', '11,670,582,000', '253.00', '257.50', '252.00', '255.00', '+2.00', '13,553']], 'notes': ['符號說明:+/-/X表示漲/跌/不比價', '當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。', 'ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。']}
{'data': [['107/01/02',
           '18,055,269',
           '4,188,555,408',
           '231.50',
           '232.50',
           '231.00',
           '232.50',
           '+3.00',
           '9,954'],
          ['107/01/03',
           '31,706,091',
           '7,504,382,512',
           '236.00',
           '238.00',
           '235.50',
           '237.00',
           '+4.50',
           '13,633'],
          ['107/01/04',
           '29,179,613',
           '6,963,192,636',
           '240.00',
           '240.00',
           '236.50',
           '239.50',
           '+2.50',
           '10,953'],
          ['107/01/05',
           '23,721,255',
           '5,681,934,695',
           '240.00',
           '240.00',
           '238.00',
           '240.00',
           '+0.50',
           '8,659'],
          ['107/01/08',
           '21,846,692',
           '5,281,823,362',
           '242.00',
           '242.50',
           '240.50',
           '242.00',
           '+2.00',
           '10,251'],
          ['107/01/09',
           '19,043,123',
           '4,588,314,012',
           '242.00',
           '242.00',
           '239.50',
           '242.00',
           ' 0.00',
           '7,124'],
          ['107/01/10',
           '25,716,220',
           '6,118,683,273',
           '241.50',
           '242.00',
           '236.00',
           '236.50',
           '-5.50',
           '10,534'],
          ['107/01/11',
           '32,070,338',
           '7,500,674,455',
           '235.00',
           '236.00',
           '232.50',
           '235.00',
           '-1.50',
           '9,199'],
          ['107/01/12',
           '23,141,291',
           '5,463,302,207',
           '234.50',
           '238.00',
           '233.50',
           '237.00',
           '+2.00',
           '7,905'],
          ['107/01/15',
           '28,576,533',
           '6,832,851,887',
           '240.00',
           '240.00',
           '238.00',
           '240.00',
           '+3.00',
           '9,756'],
          ['107/01/16',
           '23,407,632',
           '5,609,009,540',
           '240.00',
           '240.50',
           '238.00',
           '240.50',
           '+0.50',
           '8,156'],
          ['107/01/17',
           '38,118,119',
           '9,207,582,787',
           '240.50',
           '243.00',
           '239.00',
           '242.00',
           '+1.50',
           '12,593'],
          ['107/01/18',
           '50,119,952',
           '12,406,562,364',
           '245.00',
           '250.00',
           '245.00',
           '248.50',
           '+6.50',
           '19,482'],
          ['107/01/19',
           '55,061,292',
           '13,975,174,348',
           '253.50',
           '255.50',
           '251.50',
           '255.50',
           '+7.00',
           '18,801'],
          ['107/01/22',
           '45,907,509',
           '11,934,882,643',
           '257.50',
           '262.00',
           '257.00',
           '261.50',
           '+6.00',
           '13,558'],
          ['107/01/23',
           '34,606,444',
           '9,155,080,569',
           '262.50',
           '266.00',
           '262.50',
           '266.00',
           '+4.50',
           '13,993'],
          ['107/01/24',
           '42,600,813',
           '11,022,372,004',
           '263.00',
           '263.00',
           '256.50',
           '258.00',
           '-8.00',
           '17,287'],
          ['107/01/25',
           '46,214,756',
           '11,981,089,514',
           '258.00',
           '264.00',
           '256.50',
           '258.00',
           ' 0.00',
           '15,826'],
          ['107/01/26',
           '43,514,523',
           '11,101,977,348',
           '256.50',
           '257.50',
           '253.50',
           '255.00',
           '-3.00',
           '12,821'],
          ['107/01/29',
           '31,306,234',
           '8,067,780,117',
           '259.00',
           '261.50',
           '255.00',
           '258.50',
           '+3.50',
           '12,211'],
          ['107/01/30',
           '37,410,591',
           '9,523,980,994',
           '256.00',
           '257.50',
           '252.50',
           '253.00',
           '-5.50',
           '12,987'],
          ['107/01/31',
           '45,807,808',
           '11,670,582,000',
           '253.00',
           '257.50',
           '252.00',
           '255.00',
           '+2.00',
           '13,553']],
 'date': '20180101',
 'fields': ['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數'],
 'notes': ['符號說明:+/-/X表示漲/跌/不比價',
           '當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。',
           'ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。'],
 'stat': 'OK',
 'title': '107年01月 2330 台積電           各日成交資訊'}

In [32]:
x= pandas.DataFrame({ e[0]:e[1:] for e in a['data']})
#print(x)
x.index =a['fields'][1:]
#print (x);
x= x.transpose()
print(x)

                 成交股數            成交金額     開盤價     最高價     最低價     收盤價   漲跌價差  \
107/01/02  18,055,269   4,188,555,408  231.50  232.50  231.00  232.50  +3.00
107/01/03  31,706,091   7,504,382,512  236.00  238.00  235.50  237.00  +4.50
107/01/04  29,179,613   6,963,192,636  240.00  240.00  236.50  239.50  +2.50
107/01/05  23,721,255   5,681,934,695  240.00  240.00  238.00  240.00  +0.50
107/01/08  21,846,692   5,281,823,362  242.00  242.50  240.50  242.00  +2.00
107/01/09  19,043,123   4,588,314,012  242.00  242.00  239.50  242.00   0.00
107/01/10  25,716,220   6,118,683,273  241.50  242.00  236.00  236.50  -5.50
107/01/11  32,070,338   7,500,674,455  235.00  236.00  232.50  235.00  -1.50
107/01/12  23,141,291   5,463,302,207  234.50  238.00  233.50  237.00  +2.00
107/01/15  28,576,533   6,832,851,887  240.00  240.00  238.00  240.00  +3.00
107/01/16  23,407,632   5,609,009,540  240.00  240.50  238.00  240.50  +0.50
107/01/17  38,118,119   9,207,582,787  240.50  243.00  239.00  242.00  +1.50
107/01/18  50,119,952  12,406,562,364  245.00  250.00  245.00  248.50  +6.50
107/01/19  55,061,292  13,975,174,348  253.50  255.50  251.50  255.50  +7.00
107/01/22  45,907,509  11,934,882,643  257.50  262.00  257.00  261.50  +6.00
107/01/23  34,606,444   9,155,080,569  262.50  266.00  262.50  266.00  +4.50
107/01/24  42,600,813  11,022,372,004  263.00  263.00  256.50  258.00  -8.00
107/01/25  46,214,756  11,981,089,514  258.00  264.00  256.50  258.00   0.00
107/01/26  43,514,523  11,101,977,348  256.50  257.50  253.50  255.00  -3.00
107/01/29  31,306,234   8,067,780,117  259.00  261.50  255.00  258.50  +3.50
107/01/30  37,410,591   9,523,980,994  256.00  257.50  252.50  253.00  -5.50
107/01/31  45,807,808  11,670,582,000  253.00  257.50  252.00  255.00  +2.00

             成交筆數
107/01/02   9,954
107/01/03  13,633
107/01/04  10,953
107/01/05   8,659
107/01/08  10,251
107/01/09   7,124
107/01/10  10,534
107/01/11   9,199
107/01/12   7,905
107/01/15   9,756
107/01/16   8,156
107/01/17  12,593
107/01/18  19,482
107/01/19  18,801
107/01/22  13,558
107/01/23  13,993
107/01/24  17,287
107/01/25  15,826
107/01/26  12,821
107/01/29  12,211
107/01/30  12,987
107/01/31  13,553

In [60]:
def get_stock_price_month(date, stock_id):
    url = 'http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=%s&stockNo=%s' % ( date, str(stock_id))
    r=requests.get(url)
    data = r.json()
    df = pd.DataFrame({e[0]: e[1:]  for e in data['data']})
    df.index=data['fields'][1:]
    #df =df.transpose
    def taiwan_year_to_year(tw_year):
        dates = tw_year.split('/')
        dates[0] = str(int(dates[0])+1911)
        return '/'.join(dates)
    
    df.columns = df.columns.map(taiwan_year_to_year)
    df.columns = pd.to_datetime(df.columns,format='%Y/%m/%d')
    df = df.transpose()
    print(df)
    return df

In [20]:

import datetime 
from datetime import timedelta
import calendar

time_format_api = "%Y/%m/%d"
time_format_string = "%Y%m%d"

def taiwan_year_to_year(tw_year):
        dates = tw_year.split('/')
        dates[0] = str(int(dates[0])+1911)
        return '/'.join(dates)
    
def string_to_datetime(string_date,request=False):
    datetime_format = time_format_api if request else time_format_string
    return datetime.datetime.strptime(string_date,datetime_format )

def datetime_to_string(date):
    return date.strftime(time_format_string)

def get_stock_price_monthly(stock_id,date,end=None):
    url = 'http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=%s&stockNo=%s' % ( date, str(stock_id))
    r=requests.get(url)
    data = r.json()
    def process_datetime(all_data):
        all_data[0] = string_to_datetime(taiwan_year_to_year(all_data[0]),True)
        return all_data
    
    data['data']= list(map(process_datetime,data['data']))

    if end:
        dt_end = string_to_datetime(end)
        data['data']=list(filter(lambda in_data:  in_data[0]<= dt_end,data['data']))
    return data
        

def add_months(sourcedate,months):
    month = sourcedate.month - 1 + months
    year = sourcedate.year + month // 12
    month = month % 12 + 1
    day = min(sourcedate.day,calendar.monthrange(year,month)[1])
    return datetime.datetime(year,month,day,0,0)
    
def get_stock_price(stock_id, from_date, to_date=None):
    date_from =string_to_datetime(from_date)
    if to_date:
        date_to = string_to_datetime(to_date)
    else:
        date_to = datetime.datetime.now()
    date_check = date_from
    prices= {'data':[]}
    while date_check<= date_to:
        price_data = get_stock_price_monthly(stock_id, datetime_to_string(date_check),datetime_to_string(date_to))
        prices['data'].extend(price_data['data'])
        if 'fields' not in prices:
            prices['fields'] = price_data['fields']
        date_check = add_months(date_check,1)
    return prices
        
        
#get_stock_price_monthly(2330,'20180101','20180105')
data = get_stock_price(2330,'20180101','20180212')
pprint.pprint(data)

{'data': [[datetime.datetime(2018, 1, 2, 0, 0),
           '18,055,269',
           '4,188,555,408',
           '231.50',
           '232.50',
           '231.00',
           '232.50',
           '+3.00',
           '9,954'],
          [datetime.datetime(2018, 1, 3, 0, 0),
           '31,706,091',
           '7,504,382,512',
           '236.00',
           '238.00',
           '235.50',
           '237.00',
           '+4.50',
           '13,633'],
          [datetime.datetime(2018, 1, 4, 0, 0),
           '29,179,613',
           '6,963,192,636',
           '240.00',
           '240.00',
           '236.50',
           '239.50',
           '+2.50',
           '10,953'],
          [datetime.datetime(2018, 1, 5, 0, 0),
           '23,721,255',
           '5,681,934,695',
           '240.00',
           '240.00',
           '238.00',
           '240.00',
           '+0.50',
           '8,659'],
          [datetime.datetime(2018, 1, 8, 0, 0),
           '21,846,692',
           '5,281,823,362',
           '242.00',
           '242.50',
           '240.50',
           '242.00',
           '+2.00',
           '10,251'],
          [datetime.datetime(2018, 1, 9, 0, 0),
           '19,043,123',
           '4,588,314,012',
           '242.00',
           '242.00',
           '239.50',
           '242.00',
           ' 0.00',
           '7,124'],
          [datetime.datetime(2018, 1, 10, 0, 0),
           '25,716,220',
           '6,118,683,273',
           '241.50',
           '242.00',
           '236.00',
           '236.50',
           '-5.50',
           '10,534'],
          [datetime.datetime(2018, 1, 11, 0, 0),
           '32,070,338',
           '7,500,674,455',
           '235.00',
           '236.00',
           '232.50',
           '235.00',
           '-1.50',
           '9,199'],
          [datetime.datetime(2018, 1, 12, 0, 0),
           '23,141,291',
           '5,463,302,207',
           '234.50',
           '238.00',
           '233.50',
           '237.00',
           '+2.00',
           '7,905'],
          [datetime.datetime(2018, 1, 15, 0, 0),
           '28,576,533',
           '6,832,851,887',
           '240.00',
           '240.00',
           '238.00',
           '240.00',
           '+3.00',
           '9,756'],
          [datetime.datetime(2018, 1, 16, 0, 0),
           '23,407,632',
           '5,609,009,540',
           '240.00',
           '240.50',
           '238.00',
           '240.50',
           '+0.50',
           '8,156'],
          [datetime.datetime(2018, 1, 17, 0, 0),
           '38,118,119',
           '9,207,582,787',
           '240.50',
           '243.00',
           '239.00',
           '242.00',
           '+1.50',
           '12,593'],
          [datetime.datetime(2018, 1, 18, 0, 0),
           '50,119,952',
           '12,406,562,364',
           '245.00',
           '250.00',
           '245.00',
           '248.50',
           '+6.50',
           '19,482'],
          [datetime.datetime(2018, 1, 19, 0, 0),
           '55,061,292',
           '13,975,174,348',
           '253.50',
           '255.50',
           '251.50',
           '255.50',
           '+7.00',
           '18,801'],
          [datetime.datetime(2018, 1, 22, 0, 0),
           '45,907,509',
           '11,934,882,643',
           '257.50',
           '262.00',
           '257.00',
           '261.50',
           '+6.00',
           '13,558'],
          [datetime.datetime(2018, 1, 23, 0, 0),
           '34,606,444',
           '9,155,080,569',
           '262.50',
           '266.00',
           '262.50',
           '266.00',
           '+4.50',
           '13,993'],
          [datetime.datetime(2018, 1, 24, 0, 0),
           '42,600,813',
           '11,022,372,004',
           '263.00',
           '263.00',
           '256.50',
           '258.00',
           '-8.00',
           '17,287'],
          [datetime.datetime(2018, 1, 25, 0, 0),
           '46,214,756',
           '11,981,089,514',
           '258.00',
           '264.00',
           '256.50',
           '258.00',
           ' 0.00',
           '15,826'],
          [datetime.datetime(2018, 1, 26, 0, 0),
           '43,514,523',
           '11,101,977,348',
           '256.50',
           '257.50',
           '253.50',
           '255.00',
           '-3.00',
           '12,821'],
          [datetime.datetime(2018, 1, 29, 0, 0),
           '31,306,234',
           '8,067,780,117',
           '259.00',
           '261.50',
           '255.00',
           '258.50',
           '+3.50',
           '12,211'],
          [datetime.datetime(2018, 1, 30, 0, 0),
           '37,410,591',
           '9,523,980,994',
           '256.00',
           '257.50',
           '252.50',
           '253.00',
           '-5.50',
           '12,987'],
          [datetime.datetime(2018, 1, 31, 0, 0),
           '45,807,808',
           '11,670,582,000',
           '253.00',
           '257.50',
           '252.00',
           '255.00',
           '+2.00',
           '13,553'],
          [datetime.datetime(2018, 2, 1, 0, 0),
           '30,900,457',
           '8,022,694,430',
           '257.50',
           '261.00',
           '257.00',
           '259.50',
           '+4.50',
           '13,598'],
          [datetime.datetime(2018, 2, 2, 0, 0),
           '25,707,560',
           '6,633,344,540',
           '259.00',
           '260.00',
           '255.00',
           '259.50',
           ' 0.00',
           '11,404'],
          [datetime.datetime(2018, 2, 5, 0, 0),
           '46,554,379',
           '11,742,299,859',
           '251.00',
           '254.50',
           '250.50',
           '253.00',
           '-6.50',
           '16,909'],
          [datetime.datetime(2018, 2, 6, 0, 0),
           '104,448,048',
           '24,944,565,955',
           '242.50',
           '243.50',
           '234.00',
           '239.00',
           '-14.00',
           '35,455'],
          [datetime.datetime(2018, 2, 7, 0, 0),
           '82,299,178',
           '19,903,032,966',
           '245.00',
           '245.50',
           '239.50',
           '240.00',
           '+1.00',
           '22,962'],
          [datetime.datetime(2018, 2, 8, 0, 0),
           '31,192,550',
           '7,468,970,072',
           '239.50',
           '242.00',
           '238.00',
           '238.50',
           '-1.50',
           '10,274'],
          [datetime.datetime(2018, 2, 9, 0, 0),
           '65,939,265',
           '15,227,192,540',
           '230.00',
           '233.00',
           '228.50',
           '232.50',
           '-6.00',
           '19,749'],
          [datetime.datetime(2018, 2, 12, 0, 0),
           '42,917,236',
           '10,113,012,768',
           '235.50',
           '237.50',
           '235.00',
           '236.50',
           '+4.00',
           '10,851']],
 'fields': ['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數']}

In [23]:
def get_price_report(stock_id, from_date, to_date=None):
    prices_dict = get_stock_price(stock_id, from_date,to_date)
    df = pd.DataFrame({ e[0]: e[1:] for e in prices_dict['data']}, index=prices_dict['fields'][1:])
    df = df.transpose()
    print(df)
    
get_price_report(2330,'20180101','20180312')

                   成交股數            成交金額     開盤價     最高價     最低價     收盤價  \
2018-01-02   18,055,269   4,188,555,408  231.50  232.50  231.00  232.50
2018-01-03   31,706,091   7,504,382,512  236.00  238.00  235.50  237.00
2018-01-04   29,179,613   6,963,192,636  240.00  240.00  236.50  239.50
2018-01-05   23,721,255   5,681,934,695  240.00  240.00  238.00  240.00
2018-01-08   21,846,692   5,281,823,362  242.00  242.50  240.50  242.00
2018-01-09   19,043,123   4,588,314,012  242.00  242.00  239.50  242.00
2018-01-10   25,716,220   6,118,683,273  241.50  242.00  236.00  236.50
2018-01-11   32,070,338   7,500,674,455  235.00  236.00  232.50  235.00
2018-01-12   23,141,291   5,463,302,207  234.50  238.00  233.50  237.00
2018-01-15   28,576,533   6,832,851,887  240.00  240.00  238.00  240.00
2018-01-16   23,407,632   5,609,009,540  240.00  240.50  238.00  240.50
2018-01-17   38,118,119   9,207,582,787  240.50  243.00  239.00  242.00
2018-01-18   50,119,952  12,406,562,364  245.00  250.00  245.00  248.50
2018-01-19   55,061,292  13,975,174,348  253.50  255.50  251.50  255.50
2018-01-22   45,907,509  11,934,882,643  257.50  262.00  257.00  261.50
2018-01-23   34,606,444   9,155,080,569  262.50  266.00  262.50  266.00
2018-01-24   42,600,813  11,022,372,004  263.00  263.00  256.50  258.00
2018-01-25   46,214,756  11,981,089,514  258.00  264.00  256.50  258.00
2018-01-26   43,514,523  11,101,977,348  256.50  257.50  253.50  255.00
2018-01-29   31,306,234   8,067,780,117  259.00  261.50  255.00  258.50
2018-01-30   37,410,591   9,523,980,994  256.00  257.50  252.50  253.00
2018-01-31   45,807,808  11,670,582,000  253.00  257.50  252.00  255.00
2018-02-01   30,900,457   8,022,694,430  257.50  261.00  257.00  259.50
2018-02-02   25,707,560   6,633,344,540  259.00  260.00  255.00  259.50
2018-02-05   46,554,379  11,742,299,859  251.00  254.50  250.50  253.00
2018-02-06  104,448,048  24,944,565,955  242.50  243.50  234.00  239.00
2018-02-07   82,299,178  19,903,032,966  245.00  245.50  239.50  240.00
2018-02-08   31,192,550   7,468,970,072  239.50  242.00  238.00  238.50
2018-02-09   65,939,265  15,227,192,540  230.00  233.00  228.50  232.50
2018-02-12   42,917,236  10,113,012,768  235.50  237.50  235.00  236.50
2018-02-21   76,396,174  18,582,475,956  244.50  244.50  242.00  242.50
2018-02-22   45,492,993  10,977,665,819  244.00  244.00  239.00  239.50
2018-02-23   26,985,776   6,578,657,620  241.00  245.00  241.00  245.00
2018-02-26   36,165,810   8,910,352,170  247.00  247.50  245.00  246.50
2018-02-27   44,699,119  11,061,945,363  250.50  250.50  246.00  246.00
2018-03-01   43,847,984  10,669,194,561  244.00  245.00  242.00  243.00
2018-03-02   35,289,170   8,453,712,014  240.00  241.00  238.50  240.00
2018-03-05   27,337,846   6,607,367,732  242.50  243.00  240.50  241.50
2018-03-06   36,945,780   9,155,812,210  245.50  250.00  245.50  250.00
2018-03-07   30,391,219   7,525,601,638  248.00  248.50  246.00  247.00
2018-03-08   20,645,694   5,172,732,531  249.50  251.50  249.00  249.50
2018-03-09   22,887,063   5,723,277,170  250.00  251.00  248.50  250.50
2018-03-12   25,100,615   6,370,529,728  252.00  255.00  251.50  254.00

              漲跌價差    成交筆數
2018-01-02   +3.00   9,954
2018-01-03   +4.50  13,633
2018-01-04   +2.50  10,953
2018-01-05   +0.50   8,659
2018-01-08   +2.00  10,251
2018-01-09    0.00   7,124
2018-01-10   -5.50  10,534
2018-01-11   -1.50   9,199
2018-01-12   +2.00   7,905
2018-01-15   +3.00   9,756
2018-01-16   +0.50   8,156
2018-01-17   +1.50  12,593
2018-01-18   +6.50  19,482
2018-01-19   +7.00  18,801
2018-01-22   +6.00  13,558
2018-01-23   +4.50  13,993
2018-01-24   -8.00  17,287
2018-01-25    0.00  15,826
2018-01-26   -3.00  12,821
2018-01-29   +3.50  12,211
2018-01-30   -5.50  12,987
2018-01-31   +2.00  13,553
2018-02-01   +4.50  13,598
2018-02-02    0.00  11,404
2018-02-05   -6.50  16,909
2018-02-06  -14.00  35,455
2018-02-07   +1.00  22,962
2018-02-08   -1.50  10,274
2018-02-09   -6.00  19,749
2018-02-12   +4.00  10,851
2018-02-21   +6.00  21,512
2018-02-22   -3.00  10,071
2018-02-23   +5.50  10,178
2018-02-26   +1.50  12,565
2018-02-27   -0.50  10,908
2018-03-01   -3.00  11,589
2018-03-02   -3.00  10,440
2018-03-05   +1.50   9,321
2018-03-06   +8.50  13,977
2018-03-07   -3.00  10,521
2018-03-08   +2.50   8,817
2018-03-09   +1.00   7,050
2018-03-12   +3.50  10,550

In [62]:
dt = get_stock_price_month('20180101',2330)
dt.describe()

                  成交股數            成交金額     開盤價     最高價     最低價     收盤價   漲跌價差  \
2018-01-02  18,055,269   4,188,555,408  231.50  232.50  231.00  232.50  +3.00
2018-01-03  31,706,091   7,504,382,512  236.00  238.00  235.50  237.00  +4.50
2018-01-04  29,179,613   6,963,192,636  240.00  240.00  236.50  239.50  +2.50
2018-01-05  23,721,255   5,681,934,695  240.00  240.00  238.00  240.00  +0.50
2018-01-08  21,846,692   5,281,823,362  242.00  242.50  240.50  242.00  +2.00
2018-01-09  19,043,123   4,588,314,012  242.00  242.00  239.50  242.00   0.00
2018-01-10  25,716,220   6,118,683,273  241.50  242.00  236.00  236.50  -5.50
2018-01-11  32,070,338   7,500,674,455  235.00  236.00  232.50  235.00  -1.50
2018-01-12  23,141,291   5,463,302,207  234.50  238.00  233.50  237.00  +2.00
2018-01-15  28,576,533   6,832,851,887  240.00  240.00  238.00  240.00  +3.00
2018-01-16  23,407,632   5,609,009,540  240.00  240.50  238.00  240.50  +0.50
2018-01-17  38,118,119   9,207,582,787  240.50  243.00  239.00  242.00  +1.50
2018-01-18  50,119,952  12,406,562,364  245.00  250.00  245.00  248.50  +6.50
2018-01-19  55,061,292  13,975,174,348  253.50  255.50  251.50  255.50  +7.00
2018-01-22  45,907,509  11,934,882,643  257.50  262.00  257.00  261.50  +6.00
2018-01-23  34,606,444   9,155,080,569  262.50  266.00  262.50  266.00  +4.50
2018-01-24  42,600,813  11,022,372,004  263.00  263.00  256.50  258.00  -8.00
2018-01-25  46,214,756  11,981,089,514  258.00  264.00  256.50  258.00   0.00
2018-01-26  43,514,523  11,101,977,348  256.50  257.50  253.50  255.00  -3.00
2018-01-29  31,306,234   8,067,780,117  259.00  261.50  255.00  258.50  +3.50
2018-01-30  37,410,591   9,523,980,994  256.00  257.50  252.50  253.00  -5.50
2018-01-31  45,807,808  11,670,582,000  253.00  257.50  252.00  255.00  +2.00

              成交筆數
2018-01-02   9,954
2018-01-03  13,633
2018-01-04  10,953
2018-01-05   8,659
2018-01-08  10,251
2018-01-09   7,124
2018-01-10  10,534
2018-01-11   9,199
2018-01-12   7,905
2018-01-15   9,756
2018-01-16   8,156
2018-01-17  12,593
2018-01-18  19,482
2018-01-19  18,801
2018-01-22  13,558
2018-01-23  13,993
2018-01-24  17,287
2018-01-25  15,826
2018-01-26  12,821
2018-01-29  12,211
2018-01-30  12,987
2018-01-31  13,553

,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
count,22,22,22,22,22,22,22,22
unique,22,22,18,16,19,16,15,22
top,"23,141,291","9,155,080,569",240.00,257.50,238.00,242.00,+2.00,"15,826"
freq,1,1,4,3,3,3,3,1

In [7]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

get_stock_price_month('20180101',2331)