In [33]:
import requests
import pandas as pd
import pprint

In [16]:
def get_stock_history(date, stock_no, retry = 5):   #從www.twse.com.tw讀取資料
    quotes = []
    url = 'http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=%s&stockNo=%s' % ( date, stock_no)
    r = requests.get(url)
    data = r.json()
    #print(data)
    return data
    #return transform(data['data'])  #進行資料格式轉換

In [21]:
a = get_stock_history('20180101', '2330')
pprint.pprint(a)

{'data': [['107/01/02',
           '18,055,269',
           '4,188,555,408',
           '231.50',
           '232.50',
           '231.00',
           '232.50',
           '+3.00',
           '9,954'],
          ['107/01/03',
           '31,706,091',
           '7,504,382,512',
           '236.00',
           '238.00',
           '235.50',
           '237.00',
           '+4.50',
           '13,633'],
          ['107/01/04',
           '29,179,613',
           '6,963,192,636',
           '240.00',
           '240.00',
           '236.50',
           '239.50',
           '+2.50',
           '10,953'],
          ['107/01/05',
           '23,721,255',
           '5,681,934,695',
           '240.00',
           '240.00',
           '238.00',
           '240.00',
           '+0.50',
           '8,659'],
          ['107/01/08',
           '21,846,692',
           '5,281,823,362',
           '242.00',
           '242.50',
           '240.50',
           '242.00',
           '+2.00',
           '10,251'],
          ['107/01/09',
           '19,043,123',
           '4,588,314,012',
           '242.00',
           '242.00',
           '239.50',
           '242.00',
           ' 0.00',
           '7,124'],
          ['107/01/10',
           '25,716,220',
           '6,118,683,273',
           '241.50',
           '242.00',
           '236.00',
           '236.50',
           '-5.50',
           '10,534'],
          ['107/01/11',
           '32,070,338',
           '7,500,674,455',
           '235.00',
           '236.00',
           '232.50',
           '235.00',
           '-1.50',
           '9,199'],
          ['107/01/12',
           '23,141,291',
           '5,463,302,207',
           '234.50',
           '238.00',
           '233.50',
           '237.00',
           '+2.00',
           '7,905'],
          ['107/01/15',
           '28,576,533',
           '6,832,851,887',
           '240.00',
           '240.00',
           '238.00',
           '240.00',
           '+3.00',
           '9,756'],
          ['107/01/16',
           '23,407,632',
           '5,609,009,540',
           '240.00',
           '240.50',
           '238.00',
           '240.50',
           '+0.50',
           '8,156'],
          ['107/01/17',
           '38,118,119',
           '9,207,582,787',
           '240.50',
           '243.00',
           '239.00',
           '242.00',
           '+1.50',
           '12,593'],
          ['107/01/18',
           '50,119,952',
           '12,406,562,364',
           '245.00',
           '250.00',
           '245.00',
           '248.50',
           '+6.50',
           '19,482'],
          ['107/01/19',
           '55,061,292',
           '13,975,174,348',
           '253.50',
           '255.50',
           '251.50',
           '255.50',
           '+7.00',
           '18,801'],
          ['107/01/22',
           '45,907,509',
           '11,934,882,643',
           '257.50',
           '262.00',
           '257.00',
           '261.50',
           '+6.00',
           '13,558'],
          ['107/01/23',
           '34,606,444',
           '9,155,080,569',
           '262.50',
           '266.00',
           '262.50',
           '266.00',
           '+4.50',
           '13,993'],
          ['107/01/24',
           '42,600,813',
           '11,022,372,004',
           '263.00',
           '263.00',
           '256.50',
           '258.00',
           '-8.00',
           '17,287'],
          ['107/01/25',
           '46,214,756',
           '11,981,089,514',
           '258.00',
           '264.00',
           '256.50',
           '258.00',
           ' 0.00',
           '15,826'],
          ['107/01/26',
           '43,514,523',
           '11,101,977,348',
           '256.50',
           '257.50',
           '253.50',
           '255.00',
           '-3.00',
           '12,821'],
          ['107/01/29',
           '31,306,234',
           '8,067,780,117',
           '259.00',
           '261.50',
           '255.00',
           '258.50',
           '+3.50',
           '12,211'],
          ['107/01/30',
           '37,410,591',
           '9,523,980,994',
           '256.00',
           '257.50',
           '252.50',
           '253.00',
           '-5.50',
           '12,987'],
          ['107/01/31',
           '45,807,808',
           '11,670,582,000',
           '253.00',
           '257.50',
           '252.00',
           '255.00',
           '+2.00',
           '13,553']],
 'date': '20180101',
 'fields': ['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數'],
 'notes': ['符號說明:+/-/X表示漲/跌/不比價',
           '當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。',
           'ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。'],
 'stat': 'OK',
 'title': '107年01月 2330 台積電           各日成交資訊'}

In [32]:
x= pandas.DataFrame({ e[0]:e[1:] for e in a['data']})
#print(x)
x.index =a['fields'][1:]
#print (x);
x= x.transpose()
print(x)

                 成交股數            成交金額     開盤價     最高價     最低價     收盤價   漲跌價差  \
107/01/02  18,055,269   4,188,555,408  231.50  232.50  231.00  232.50  +3.00
107/01/03  31,706,091   7,504,382,512  236.00  238.00  235.50  237.00  +4.50
107/01/04  29,179,613   6,963,192,636  240.00  240.00  236.50  239.50  +2.50
107/01/05  23,721,255   5,681,934,695  240.00  240.00  238.00  240.00  +0.50
107/01/08  21,846,692   5,281,823,362  242.00  242.50  240.50  242.00  +2.00
107/01/09  19,043,123   4,588,314,012  242.00  242.00  239.50  242.00   0.00
107/01/10  25,716,220   6,118,683,273  241.50  242.00  236.00  236.50  -5.50
107/01/11  32,070,338   7,500,674,455  235.00  236.00  232.50  235.00  -1.50
107/01/12  23,141,291   5,463,302,207  234.50  238.00  233.50  237.00  +2.00
107/01/15  28,576,533   6,832,851,887  240.00  240.00  238.00  240.00  +3.00
107/01/16  23,407,632   5,609,009,540  240.00  240.50  238.00  240.50  +0.50
107/01/17  38,118,119   9,207,582,787  240.50  243.00  239.00  242.00  +1.50
107/01/18  50,119,952  12,406,562,364  245.00  250.00  245.00  248.50  +6.50
107/01/19  55,061,292  13,975,174,348  253.50  255.50  251.50  255.50  +7.00
107/01/22  45,907,509  11,934,882,643  257.50  262.00  257.00  261.50  +6.00
107/01/23  34,606,444   9,155,080,569  262.50  266.00  262.50  266.00  +4.50
107/01/24  42,600,813  11,022,372,004  263.00  263.00  256.50  258.00  -8.00
107/01/25  46,214,756  11,981,089,514  258.00  264.00  256.50  258.00   0.00
107/01/26  43,514,523  11,101,977,348  256.50  257.50  253.50  255.00  -3.00
107/01/29  31,306,234   8,067,780,117  259.00  261.50  255.00  258.50  +3.50
107/01/30  37,410,591   9,523,980,994  256.00  257.50  252.50  253.00  -5.50
107/01/31  45,807,808  11,670,582,000  253.00  257.50  252.00  255.00  +2.00

             成交筆數
107/01/02   9,954
107/01/03  13,633
107/01/04  10,953
107/01/05   8,659
107/01/08  10,251
107/01/09   7,124
107/01/10  10,534
107/01/11   9,199
107/01/12   7,905
107/01/15   9,756
107/01/16   8,156
107/01/17  12,593
107/01/18  19,482
107/01/19  18,801
107/01/22  13,558
107/01/23  13,993
107/01/24  17,287
107/01/25  15,826
107/01/26  12,821
107/01/29  12,211
107/01/30  12,987
107/01/31  13,553

In [60]:
def get_stock_price_month(date, stock_id):
    url = 'http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=%s&stockNo=%s' % ( date, str(stock_id))
    r=requests.get(url)
    data = r.json()
    df = pd.DataFrame({e[0]: e[1:]  for e in data['data']})
    df.index=data['fields'][1:]
    #df =df.transpose
    def taiwan_year_to_year(tw_year):
        dates = tw_year.split('/')
        dates[0] = str(int(dates[0])+1911)
        return '/'.join(dates)
    
    df.columns = df.columns.map(taiwan_year_to_year)
    df.columns = pd.to_datetime(df.columns,format='%Y/%m/%d')
    df = df.transpose()
    print(df)
    return df

In [62]:
dt = get_stock_price_month('20180101',2330)
dt.describe()

                  成交股數            成交金額     開盤價     最高價     最低價     收盤價   漲跌價差  \
2018-01-02  18,055,269   4,188,555,408  231.50  232.50  231.00  232.50  +3.00
2018-01-03  31,706,091   7,504,382,512  236.00  238.00  235.50  237.00  +4.50
2018-01-04  29,179,613   6,963,192,636  240.00  240.00  236.50  239.50  +2.50
2018-01-05  23,721,255   5,681,934,695  240.00  240.00  238.00  240.00  +0.50
2018-01-08  21,846,692   5,281,823,362  242.00  242.50  240.50  242.00  +2.00
2018-01-09  19,043,123   4,588,314,012  242.00  242.00  239.50  242.00   0.00
2018-01-10  25,716,220   6,118,683,273  241.50  242.00  236.00  236.50  -5.50
2018-01-11  32,070,338   7,500,674,455  235.00  236.00  232.50  235.00  -1.50
2018-01-12  23,141,291   5,463,302,207  234.50  238.00  233.50  237.00  +2.00
2018-01-15  28,576,533   6,832,851,887  240.00  240.00  238.00  240.00  +3.00
2018-01-16  23,407,632   5,609,009,540  240.00  240.50  238.00  240.50  +0.50
2018-01-17  38,118,119   9,207,582,787  240.50  243.00  239.00  242.00  +1.50
2018-01-18  50,119,952  12,406,562,364  245.00  250.00  245.00  248.50  +6.50
2018-01-19  55,061,292  13,975,174,348  253.50  255.50  251.50  255.50  +7.00
2018-01-22  45,907,509  11,934,882,643  257.50  262.00  257.00  261.50  +6.00
2018-01-23  34,606,444   9,155,080,569  262.50  266.00  262.50  266.00  +4.50
2018-01-24  42,600,813  11,022,372,004  263.00  263.00  256.50  258.00  -8.00
2018-01-25  46,214,756  11,981,089,514  258.00  264.00  256.50  258.00   0.00
2018-01-26  43,514,523  11,101,977,348  256.50  257.50  253.50  255.00  -3.00
2018-01-29  31,306,234   8,067,780,117  259.00  261.50  255.00  258.50  +3.50
2018-01-30  37,410,591   9,523,980,994  256.00  257.50  252.50  253.00  -5.50
2018-01-31  45,807,808  11,670,582,000  253.00  257.50  252.00  255.00  +2.00

              成交筆數
2018-01-02   9,954
2018-01-03  13,633
2018-01-04  10,953
2018-01-05   8,659
2018-01-08  10,251
2018-01-09   7,124
2018-01-10  10,534
2018-01-11   9,199
2018-01-12   7,905
2018-01-15   9,756
2018-01-16   8,156
2018-01-17  12,593
2018-01-18  19,482
2018-01-19  18,801
2018-01-22  13,558
2018-01-23  13,993
2018-01-24  17,287
2018-01-25  15,826
2018-01-26  12,821
2018-01-29  12,211
2018-01-30  12,987
2018-01-31  13,553

,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
count,22,22,22,22,22,22,22,22
unique,22,22,18,16,19,16,15,22
top,"23,141,291","9,155,080,569",240.00,257.50,238.00,242.00,+2.00,"15,826"
freq,1,1,4,3,3,3,3,1

get_stock_price_month('20180101',2331)